body {
    background-image: url("cloudy-day.png");
    background-repeat: repeat;
}

.jumbotron {
    text-align: center;
    height: 14rem;
    padding: 2rem;
    margin: 1rem;
}

.gif-container {
    padding: 1rem;
    text-align: center;
}

.gif-container img {
    width: 100%;
}

.gif-button {
    margin: 1rem;
    background-color: rgb(255, 247, 210);
}

.btn .gif-button :hover {
    background-color: rgb(201, 135, 135);
}

#button-form {
    background-color: rgb(221, 221, 221);
    padding: 2rem;
}